version: '3.8'

services:
    nginx-unit:
        build: ./nginx-unit
        volumes:
            - ${PROJECT_PATH}:/var/www
        ports:
            - 80:80
            - 3000:3000
        depends_on:
            - postgres
            - redis

    postgres:
        image: postgres:latest
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
        ports:
            - ${POSTGRES_PORT}:5432
        volumes:
            - postgres-data:/var/lib/postgresql/data

    redis:
        image: redis:latest
        ports:
            - ${REDIS_PORT}:6379
        volumes:
            - redis-data:/data


volumes:
    postgres-data:
    redis-data:
    rabbitmq-data:
